services:
  db:
    image: public.ecr.aws/docker/library/postgres:17-trixie
    restart: always
    environment:
      POSTGRES_USER: takeoutapp
      POSTGRES_PASSWORD: takeoutapp
      POSTGRES_DB: takeout_app_development
    volumes:
      - 'postgres17:/var/lib/postgresql/data'
    ports:
      - '127.0.0.1::5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  postgres17: {}
