- content_for(:title) { t('.title') }

%nav{aria: {label: 'breadcrumb'}}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to @conference.name, conference_path(@conference)
    %li.breadcrumb-item= link_to @sponsorship.name, conference_sponsorship_path(@conference, @sponsorship)
    %li.breadcrumb-item= link_to @sponsor_event.title, conference_sponsor_event_path(@conference, @sponsor_event)
    %li.breadcrumb-item.active{aria: {current: 'page'}} Edit

%h3 Edit Event

= render 'form', sponsor_event: @sponsor_event
