%h1 Listing conferences

= link_to 'New', new_conference_path, class: 'btn btn-default'

.row.py-2
  - @conferences.each do |conference|
    .col-md-6
      .card
        .card-body
          = link_to conference.name, conference
    
