-# TODO:

%h3= t('.header')

- t = Time.now
- if @conference.application_closes_at && @conference.application_closes_at < Time.now
  %p= t('.closed', ts: l(@conference.application_closes_at))
- else
  %p= t('.not_yet_open', ts: @conference.application_opens_at && l(@conference.application_opens_at))
