- if current_staff && !@conference.application_open?
  .alert.alert-warning
    Application
    %b is not
    open. You're seeing this because you're logged in as a staff.
    %br
    Application opens at: #{l(@conference.application_opens_at)}

- if @conference.allow_restricted_access
  = render 'free-plan-form', sponsorship: @sponsorship
- else
  = render 'form', sponsorship: @sponsorship
