- content_for(:title) { t('.title') }

%nav{aria: {label: 'breadcrumb'}}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to @conference.name, conference_path(@conference)
    %li.breadcrumb-item= link_to "Announcements", conference_announcements_path(@conference)
    %li.breadcrumb-item.active{aria: {current: 'page'}} Edit

%h1 Editing Announcement

= render 'form', announcement: @announcement
