%p Hi,

%p There was an registration to #{@conference.name} using your sponsor ticket, but they couldn't present a requested ticket page. In most case, they lost a ticket URL or doesn't know about how to retrieve a sponsorship ticket.

%p In such cases, we accept an registration with asking which organization they're coming from. The following person is registered without presenting a sponsor ticket page:

%p
  %b Name:
  #{@ticket.name}
  %br
  %b Ticket type:
  #{@ticket.kind}

%p Please let us know if you don't know this person, or you consider this entry is invalid or suspicious.

%p
  Best,
  %br
  Team #{@conference.name}

