%p
  #{@sponsorship.name} ご担当者様
  %br
  #{@conference.name} のスポンサー受付において、スポンサーチケットページを提示できなかった参加者がいた旨をお知らせします。

%p ただし、チケット取得方法 (URL) を知らなかった、もしくはチケットを忘れたというケース場合、社名と名前を聞いた上でイレギュラー対応を行っています。そのため、下記の参加者につきまして受付を行いました。

%p
  %b 名前:
  #{@ticket.name}
  %br
  %b チケット種別:
  #{@ticket.kind}

%p
  もしこちらの参加者に心あたりがない場合は速やかに運営チームへお知らせください。
  %br
  どうぞよろしくお願い致します。
