body
  color: $default-text
  background-color: $lightpink
  min-height: 100vh
  font-size: 100%

a
  color: $blue
  &:hover,
  &:focus
    color: lighten($blue, 10%)

img
  max-width: 100%

small
  font-size: 70%

nav.navbar.navbar-expand-lg.navbar-dark
  background-color: $black
