body
  color: $default-text
  background-color: $lightpink
  min-height: 100vh
  font-size: 100%

a
  color: $black
  &:hover,
  &:focus
    color: lighten($blue, 10%)

img
  max-width: 100%

small
  font-size: 70%

nav.navbar.navbar-expand-lg
  background-color: lighten($vividpink, 42%)
  border-bottom: 1px solid lighten($vividpink, 39%)

nav.navbar.navbar-expand-lg a
  color: $vividpink

nav.navbar.navbar-expand-lg a
  color: $black
  &:hover,
  &:focus
    color: lighten($black, 20%)

.btn-primary
  background-color: $vividpink
  border-color: darken($vividpink, 10%)

.btn-primary
  &:hover
    background-color: darken($vividpink, 10%)
    border-color: darken($vividpink, 20%)
