// breakpoints
$media-breakpoints: (xs: 0, se: 320px, sm: 576px, md: 768px, lg: 1024px, xl: 1400px)

// colors
$black: #1e3549
$white: #fff
$whitegrey: #A9A9A9

$color-base: #EBE0CE
$color-main: #0B374D
$color-main-light: #545F64
$color-accent: #E14033

// background-color
$base-bg: $color-base

// text-colors
$default-text: $color-main
$reversal-text: $color-main
$muted-text: $color-main-light

$link: #127CAE
$link-hover: #0092D8

$border: $color-main-light

// bland-colors
$base-color: $color-base
$accent-color: $color-accent
$accent-color-border: $color-accent

// navbar
$nav-link: $color-main
$nav-link-hover: $color-main-light
$nav-bg: $color-base
$nav-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15)
$nav-toggler-border: transparent

// button
$btn-primary-bg: $color-accent
$btn-primary-border: transparent
$btn-primary-bg-hover: darken($color-accent, 10%)
$btn-primary-border-hover: transparent

// schedule
$break: #e0e0cf
