.d-md-flex.justify-content-between
  %h2 Reception: #{@conference.name}

.row.my-2
  .col-md-6
    .card.mb-2
      .card-header Check in using a ticket code
      .card-body.checkin_form{data: {endpoint: reception_conference_registrations_path(@conference)}}
        Loading...

    .card.mb-2
      .card-header Check in using a QR code
      .card-body
        %p QR codes attatched to a ticket contains a URL for staff.
        %p
          %ol
            %li Scan with your mobile device, then open an attached URL
            %li
              %strong 
                Verify you're accessing
                %code #{request.host}
            %li Confirm the displayed ticket information.
            %li
              Tap "check in" button.

  .col-md-6
    .card.mb-2
      .card-header Manual check in
      .card-body
        = render 'reception/registrations/form', ticket: @ticket

    .card.mb-2
      .card-header Recruiting a reception helper?
      .card-body
        %p.card-text= link_to session_assume_url, session_assume_url

        .my-2.text-center
          %img{src: code_reception_conference_path(@conference)}
