name: Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: sudo apt-get update && sudo apt-get install -y --no-install-recommends libvips-tools
      - run: docker compose up -d --wait db
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - run: bundle exec rails db:create db:migrate RAILS_ENV=test
      - run: bundle exec rspec -f j -o tmp/rspec_results.json -f d spec
      # - uses: SonicGarden/rspec-report-action@1db4b15383ec30ec6ecfc9e7f92488647f7900bd # v6.0.1
      #   if: always()
      #   with:
      #     json-path: tmp/rspec_results.json
