!!! 5
%html
  %head
    %meta{http_equiv: 'Content-Type', content: 'text/mail; charset=utf-8'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %style{type: 'text/css'}
      :css
        body {
         font-family: -apple-system,"BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        h1,h2,h3,h4,h5,h6 {
          font-family: inherit;
        }
        .mt-3 {
          margin-top: 3em;
        }
        hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
          border: 0;
          border-top: 1px solid rgba(0,0,0,.1);
          box-sizing: content-box;
          height: 0;
          overflow: visible;
        }
        .text-center {
          text-align: center;
        }
        .text-muted {
          color: #6c757d;
        }

  %body
    .container
      %main
        = yield
      %footer.mt-3
        %hr
        %p.text-center
          %small
            %a.text-muted{href: "https://#{Rails.application.config.x.public_url_host}"} #{Rails.application.config.x.org_name} Sponsorships Portal
